{% extends "main/base.html" %}

{% block title %}{{gr.name}}{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
    <!-- Name, Rename and Delete are in a single row -->
    <div class="container">
        <div class="row">
            <!-- Show group name -->
            <div class="col">
                <h1>{{gr.name}}</h1>
            </div>
            <!-- Rename group -->
            <div class="col">
                <form method="POST">
                    {% csrf_token %}
                    <div class="input-group-prepend", align="right">
                        <input type="text", name="rename">
                        <button type="submit" name="save_rename" value="save_rename" class="btn btn-success">Rename</button>
                    </div>
                </form>
            </div>
            <!-- Delete group -->
            <div class="col">
                <form method="POST">
                    {% csrf_token %}
                    <button type="submit" name="delete_group" value="delete_group" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
    
    <!-- List of students -->
    {% for student in gr.student.all %}
        <p><a href="/student/{{student.id}}">{{student.first_name}} {{student.last_name}}</a></p>
    {% endfor %}

    <!-- Add new student -->
    <form method="post" name="save_student" class="form-group">
        {% csrf_token %}
        <div class="input-group mb-3">
            {{form_new_student.first_name}} <!-- as_table, as_p, as_ul -->
            {{form_new_student.last_name}} <!-- as_table, as_p, as_ul -->
            <button type="submit", name="save_student" value="save_student" class="btn btn-success"><em>Add new student</em></button>
        </div>
    </form>

{% endblock %}