{% extends "main/base.html" %}

{% block title %}{{gr.name}}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>{{gr.name}}</h1>
            </div>
            <div class="col">
                <form method="POST">
                    {% csrf_token %}
                    <div class="input-group-prepend", align="right">
                        <input type="text", name="rename">
                        <button type="submit" name="rename_save" value="rename_save" class="btn btn-success">Rename</button>
                    </div>
                </form>
            </div>
            <div class="col">
                <form method="POST">
                    {% csrf_token %}
                    <button type="submit" name="delete_group" value="delete_group" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}