{% extends "main/base.html" %}

{% block title %}{{st.first_name}}{{st.last_name}}{% endblock %}

{% block content %}
<!-- Name, Rename and Delete are in a single row -->
<div class="container">
    <div class="row">
        <form class="row g-3", method="POST">
            {% csrf_token %}
            <!-- Show name and enable rename student -->
            <div class="col-auto">
                <h4><input type="text", name="rename_first", value="{{st.first_name}}"></h4>
            </div>
            <div class="col-auto">
                <h4><input type="text", name="rename_last", value="{{st.last_name}}"></h4>
            </div>
            <div class="col-auto">
                <button type="submit", name="save_rename", value="save_rename" class="btn btn-success">Rename</button>
            </div>
            <!-- Delete group -->
            <div class="col-auto">
                <button type="submit", name="delete_student", value="delete_student", class="btn btn-danger">Delete</button>
            </div>
        </form>
    </div>
</div>

<div class="container">
    <div class="row">
    <div class="col-lg-12">
    <div class="overflow-scroll">
    <!-- The entire table is a form -->
    <form method="post" class="form-group">
    {% csrf_token %}
    <table class="table table-striped">
        <thead>
            <tr>
                <!-- Display all exams-->
                {% for exam in st.group.exam.all %}
                <th><a href="/exam/{{exam.id}}">{{exam.name}}</a></th>
                {% endfor %}
                <!-- Display all assignments -->
                {% for assignment in st.group.assignment.all %}
                <th><a href="/assignment/{{assignment.id}}">{{assignment.name}}</a></th>
                {% endfor %}                
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <!-- One row for the results -->
            <tr>
                {% for exam_id in exam_results.keys %}
                    <td>                            
                        <div class="input-group input-group-sm">
                            <input type="float", name="points_e_{{exam_id}}", class="form-control", value={{ exam_results|get_item:exam_id|get_item:"points_e" }}>
                            <input type="float", name="points_c_{{exam_id}}", class="form-control", value={{ exam_results|get_item:exam_id|get_item:"points_c" }}>
                            <input type="float", name="points_a_{{exam_id}}", class="form-control", value={{ exam_results|get_item:exam_id|get_item:"points_a" }}>
                        </div>
                    </td>
                {% endfor %}
                {% for assignment in st.group.assignment.all %}
                    <td>E</td>
                {% endfor %}
            </tr>
        </tbody>
        <caption>
            <button type="submit" name="save_exam_results" value="save_exam_results"" class="btn btn-success">Save Results</button>
            <!-- {{form_add_exam_result}} -->
        </caption>
    </table>
    </form>

{% endblock %}